/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
  }
  :root {
    --main-color: #e56fed;
    --bg-color: #fbf2ff ;
    --text-color: #0a041d;
    --hover: hsl(260, 100%, 51%);
   
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
  }

html{
  overflow-x: hidden;
}  
html ::-webkit-scrollbar{
  width: 1rem;
}  
html ::-webkit-scrollbar-track{
  background-color: var(--bg-color);
}  
html ::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}  


  .section {
    padding: 50px 10%;
  }
  body.active {
    --text-color: #fff;
    --bg-color: #000;
  }
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }
  *::selection {
    color: var(--bg-color);
    background: var(--main-color);
  }

  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;  
    }
  .header.shadow{
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
  }
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: var(--text-color);
    padding-left: 5%;
  }
  .search-form {
    display: flex;
    align-items: center;
    color: var(--bg-color);
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 25%;
    padding-right: 5%;
  }

  .search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    outline: none;
    flex-grow: 1; /* Занимает всё доступное пространство */
    width: 300px; /* Установите нужную ширину */
    max-width: 100%; /* Максимальная ширина не более 100% родительского контейнера */
    color: var(--main-color);
  }

  .search-form button {
      padding: 5px 10px;
      border: none;
      background-color: var(--bg-color);
      color: var(--main-color);
      cursor: pointer;
      border-radius: 3px;
      margin-left: 5px;
  }

  .search-form button:hover {
      background-color: var(--hover);
  }

  .navbar {
    display: flex;
    gap: 20px;
  }
  .navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
  }
  .navbar a:hover {
    color: var(--hover);
  }
  
 
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--main-color);
  display: none; 
}

/* Добавим стили для мобильных устройств */
@media (max-width: 1200px) {
  section{
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html{
    font-size: 55%;
  }
  section{
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
    
  #menu-btn {
    display: inline-block; 
    transition: .2s linear;
  }
  .header .navbar {
    position: absolute;
    top: 99%; left: 0; right: 0;
    background-color: var(--bg-color);
    border-top: var(--main-color);
    padding: 2rem;
  }
  .header .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
  }
}
@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
}
  #profile-btn{
    font-size: 1.6rem;
    color: var(--main-color);
  }